.padding{
    padding: 20px;
    margin-top: 20px;
}

.footer{
    background-color: #0f385a;
    color: white;
    text-align: center;
    font-weight: bold;
    height: 200px;
}
.header{
    background-image: url('control.png');
    background-size: cover;
    font-weight: bold;
    color: white;
    padding: 20px;
}
.descripcion{
    height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-y: scroll;
}
.titulo{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
label{
    font-weight: bold;
}
body{
    margin: 0px;
    box-sizing: border-box;
}